body {
    background-image: url('circles-light.png');
}

h1,
h2 {
    text-align: center;
}

#password {
    width: 300px;
    height: 200px;
}

.wrapper {
    width: 300px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    #password {
        width: 100%;
    }
}